body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 2rem;
  color: #5a452e;
  font-weight: 600;
  margin-bottom: 25px;
}


.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  
  min-width: 200px;
  
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  max-width: 220px;
  
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #b4975a;
  outline: none;
}


.form-check {
  margin: 20px 0;
  font-size: 16px;
  color: #222;
}


.book-button,
.small-btn {
  background-color: #edb408 !important;
  border: none;
  color: rgb(20, 20, 20);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 150px;
  
}

.book-button:hover,
.small-btn:hover {
  background-color: #b97a00 !important;
  transform: translateY(-2px);
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
  
}